*.iml
/.gradle
/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/app/build
/app/*.iml

/SIP/build
/SIP/*.iml

/PhoneCommon/build
/PhoneCommon/*.iml

/TelephonyCommon/build
/TelephonyCommon/*.iml

/TelephonyFramework/build
/TelephonyFramework/*.iml


/TelephonyBaseFramework/build
/TelephonyBaseFramework/*.iml

/TelecommFramework/build
/TelecommFramework/*.iml